@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
   
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
   

}
/* Global color */
:root {
    --main-color: rgba(237, 33, 33, 0.937);
    --bg-color: #121212;
    --text-color: rgba(245, 239, 239, 0.973);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    /* height: 2000px; */
}

header{
    width: 100%;
    /* position: fixed;
    top: 0;
    z-index: 10; */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 12px 100px;
    margin-top: -3px;
    background-color: #00000058;
    z-index: 10;
    
    /* transition: 0.5s; */
}
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    display: flex;
    align-items: center;
    font-size: 17px;
}
.logo i {
    margin-right: 5px;
}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 3rem;
}
.navbar li{
    position: relative;

}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}
.btn{
    background-color: var(--main-color);
    padding: 0.7rem 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    border-radius: 0.5rem;
    transition: 0.5s;
}
.navbar a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: .5s;
}
.navbar a:hover::after, .navbar .active::after{
    width: 100%;
   
}
.btn:hover{
    background-color: rgb(255, 85, 0);
}
.cover{
    width: 100%;
    min-height: 690px;
    position: relative;
    display: flex;
    align-items: center;
}
.cover img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
}
.cover .text{
    padding: 170px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.cover .text h1 {
    
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    margin-top: -17px;
    margin-bottom: -17px;
    text-shadow: 0 0 2px #000000;
    
    
}
.cover .text p{
    font-family: 'Caveat', cursive;
    padding-top: -5%;
    font-size: 2.6rem;
    color: rgb(39, 199, 252);
    font-weight: 900;
    text-shadow: 0 0 1px #000000;
}
.cover .text .btn
{
    margin-top: 26px;
    
}
.play i{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: var(--text-color);
    background-color: var(--main-color);
    border-radius: 50%;
    right: 40px;
    bottom: 30px;
    transition: 0.5s;
}
.play i:hover{
    background-color: rgb(255, 85, 0);
    transform: scale(1.6);
    filter: brightness(0.9);
}
.movieShowroom h1{
    max-width: 968px;
    margin: 10px auto 10px auto;
    border-bottom: 1px dotted var(--main-color);
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--text-color);
}
.movieGridContainer
{
    padding-top: 1rem;;
    max-width: 960px;
    display: grid;
    margin: 0px auto 0px auto;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;

}
.idvGridImg {
    width: 100%;
    height: 270px;
    

}
.idvGridImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    filter: brightness(0.92);
    padding-bottom: 0.5rem;
    box-shadow: 5px 5px 5px rgb(15, 14, 14);
    
}

.idvGridImg img:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
    transform: translateY(-10px);
}
.idvGrid p{
    padding-bottom: 1rem;
}
.idvGrid span{
    margin-top: 1.1rem;
}
.contactForm
{
    max-width: 380px;
    /* background-color: rgb(227, 240, 225); */
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 3rem;
    height: 80px;
    margin-bottom: 1rem;
    
}
.contactForm h2{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
    margin-top: -1rem;
    margin-bottom: 0.4rem;
}
.contactForm form{
    padding: 0px auto;
    /* padding-top: -4rem; */
    margin: 0;
    padding: 12px 2px;
    border-radius: 12px;;
    background-color: rgb(227, 240, 225);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactForm form input{
    padding: 0%;
    margin: 0%;
}
.contactForm form .email
{
    background-color: rgb(227, 240, 225);
    margin-left: -12px;
    width: 60%;
    border: none;
    outline: none;
}
.contactForm form .btn
{
    width: 4rem;
}
.social
{
    max-width: 670px;
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}
.social .logo{
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);

}
footer
{
    width: 100%;
    height: 2rem;
    background-color: rgb(45, 39, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    color: rgba(255, 255, 255, 0.46);
    font-weight: 500;
}
footer a .bx
{
    color: var(--main-color);
}

/* Responsive adjustments */
@media (max-width: 1080px)
{
    .home .cover .text {
        padding: 4% 10%;
    }
    .home .cover .text h1 {
        font-size: 2.3rem;
    }
    .home .cover .text p {
        font-size: 1.6rem;

    }
    .btn 
    {
        padding: 0.4rem 0.7rem;
    }
}
@media (max-width: 810px)
{
    .home .cover .text h1 {
        font-size: 1.7rem;
    }
    .home .cover .text p {
        font-size: 1.5rem;

    }
    header
    {
        padding: 6px 4%;
        
    }
    .navbar 
    {
        display: none;
    }
   
}
@media (max-width: 500px)
{
    .contactForm{
        max-width: 290px;
    }
    .movieShowroom h1 {
        font-size: 1.3rem;
    }
    .cover
    {
        min-height: 550px;
    }
    .movieGridContainer
    {
        grid-template-columns: repeat(auto-fit, minmax(170px, auto));
    }
}
@media (max-width: 300px)
{
    .contactForm{
        max-width: 240px;
    }
    
}